:root {
    --mainBackground: #0a0a0a;
    --mainText: rgb(255, 251, 241);
    --secondaryText: #246FB5;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

html a {
    text-decoration: none;
}

body{
    background-color: var(--mainBackground);
    height: 100%;
}

/* Navigation Bar */
.navbar {
    display: flex;
    padding: 0 50px;
    position: fixed;
    width: 95%;
    background-color: var(--mainBackground);
    top: 0;
    z-index: 10;
    border-bottom: var(--mainText) solid 1px;
}

.nav-logo {
    color: var(--mainText);
    width: 50%;
}

.nav-words {
    color: var(--mainText);
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar ol a{
    text-decoration: none;
    color: var(--text-color);
  }

.navbar ul a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
  }
  
.navbar ul a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--mainText);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar ul a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

/* Introduction */
.border-box {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainText);
    margin: auto;
}

.white-border {
    background-color: var(--mainBackground);
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.self-portrait-half {
    color: var(--mainText);
    display: flex;
    align-items: center;
    justify-content: center;
}

#self-portrait {
    width: 300px;
    transition: .2s;
}

#self-portrait:hover {
    width: 340px;
    transition: .2s;
}


#intro-paragraph {
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 72px;
    font-weight: 700;
}

.intro {
    color: var(--mainText);
}

#name {
    color: var(--secondaryText);
    text-shadow: 4px 2px var(--mainText);
}

#interests-paragraph {
    color: var(--mainText);
    font-size: 20px;
    width: 80%;
    font-weight: 400;
    margin-top: 3%;
}

/* About Section */
.about-me-section {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

#about-me-title {
    color: var(--secondaryText);
    font-size: 70px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 2px var(--mainText);
    margin-top: 60px;
}

#about-me-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me-content p {
    color: var(--mainText);
    width: 80%;
}


/* Skills Section */
.border-box-skills {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainText);
    margin: auto;
}

.white-border-skills {
    background-color: var(--mainBackground);
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: var(--mainText);
}

.white-border-skills .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

#skills-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

#skills-information {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    text-align: center;
}

#html-logo,
#css-logo,
#javascript-logo,
#nodejs-logo,
#mysql-logo,
#handlebars-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HTML Logo - Skills */
#html-logo img{
    width: 50%;
    height: 50%;
    border: var(--mainText) solid 2px;
    border-radius: 60px;
    padding: 20px;
    background-color: #a53a1f;
    cursor: pointer;
    transition: .3s;
}

#html-logo img:hover {
    background-color: var(--mainText);
    transition: .3s;
}

/* CSS Logo - Skills */
#css-logo img {
    width: 50%;
    height: 50%;
    border: var(--mainText) solid 2px;
    border-radius: 60px;
    padding: 20px;
    background-color: #2a7abb;
    cursor: pointer;
    transition: .3s;
}

#css-logo img:hover {
    background-color: var(--mainText);
    transition: .3s;
}

/* JavaScript Logo - Skills */
#javascript-logo img {
    width: 50%;
    height: 50%;
    border: var(--mainText) solid 2px;
    border-radius: 60px;
    padding: 20px;
    background-color: #d1b900;
    cursor: pointer;
    transition: .3s;
}

#javascript-logo img:hover {
    background-color: var(--mainText);
    transition: .3s;
}

/* NodeJs Logo - Skills */
#nodejs-logo img {
    width: 50%;
    height: 50%;
    border: var(--mainText) solid 2px;
    border-radius: 60px;
    padding: 20px;
    background-color: #52831d;
    cursor: pointer;
    transition: .3s;
}

#nodejs-logo img:hover {
    background-color: var(--mainText);
    transition: .3s;
}

/* MySql Logo - Skills */
#mysql-logo img {
    width: 50%;
    height: 50%;
    border: var(--mainText) solid 2px;
    border-radius: 60px;
    padding: 20px;
    background-color: #1b4555;
    cursor: pointer;
    transition: .3s;
}

#mysql-logo img:hover {
    background-color: var(--mainText);
    transition: .3s;
}

/* Handlebars Logo - Skills */
#handlebars-logo img {
    width: 50%;
    height: 50%;
    border: var(--mainText) solid 2px;
    border-radius: 60px;
    padding: 20px;
    background-color: #824a13;
    cursor: pointer;
    transition: .3s;
}

#handlebars-logo img:hover {
    background-color: var(--mainText);
    transition: .3s;
}

/* Projects Section */
.border-box-projects {
    width: 90%;
    height: 175%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainText);
    margin: auto;
}

.white-border-projects {
    background-color: var(--mainBackground);
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    color: var(--mainText);
}

#projects-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
}

.project-row-one, .project-row-two, .project-row-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

figure.effect figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: .75em;
    color: var(--mainBackground);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
    
figure.effect div.description {
    position: fixed;
    bottom: 170%;
    left: 7%;
    padding: 2em;
    color: var(--mainText);
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 70%;
    text-align: center;
  }
  
figure.effect:hover div.description {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--mainText);
    width: 450px;
    height: 150px;
  }
  
figure.effect:hover figcaption {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

figcaption .description p {
    margin-right: 20px;
}
  
#screenshot img {
    width: 570px;
    height: 270px;
    border-radius: 10px;
}

#screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description-buttons {
    background-color: var(--mainText);
    color: var(--mainBackground);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.description-buttons:hover {
    background-color: rgb(36, 36, 36);
    color: var(--mainText);
    transition: .2s;
}


.description a {
    text-decoration: none;
}

/* Socials Section */
.border-box-socials {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainText);
    margin: auto;
}

.white-border-socials {
    background-color: var(--mainBackground);
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

#socials-title {
    color: var(--mainText);
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.links-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--mainBackground);
}

.links-section p {
    background-color: var(--mainText);
    font-size: 36px;
    width: 320px;
    height: 80px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    cursor: pointer;
    transition: .3s;
}

.links-section .social-buttons:hover {
    background-color: rgb(36, 36, 36);
    color: var(--mainText);
    transition: .2s;
    border: var(--mainText);
}

.links-section div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-section a {
    text-decoration: none;
    color: var(--mainBackground);
}

#github-logo {
    height: 80px;
    background-color: var(--mainText);
    padding: 3px;
    border-radius: 100px;
    margin-right: 15px;
}

#linkedin-logo {
    height: 80px;
    background-color: var(--mainText);
    border-radius: 100px;
    margin-right: 15px;
}

#resume-logo {
    height: 80px;
    background-color: var(--mainText);
    margin-right: 15px;
}

#phone-logo {
    height: 80px;
    background-color: var(--mainText);
    margin-right: 15px;
    border-radius: 100px;
}


